body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 10px;
    background-image: linear-gradient(
        to right top,
        #051937,
        #004d7a,
        #008793,
        #00bf72,
        #a8eb12
    );

}

#myButton{
    height: 40px;
    width: 120px;
    border-radius: 2rem;
    background-color: rgb(223, 226, 56);
    color: rgb(34, 34, 34);
}

#myButton2{
    height: 40px;
    width: 120px;
    border-radius: 2rem;
    background-color: rgb(168, 235, 18);
    color: rgb(34,34,34);
}
.btn-container{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.copyCode{
     display: flex;
    text-align: center;
    background-color: #00bf72;
    border-radius: 2rem;
    margin-top: 20px;
    padding: 15px;
}
.hero {
   background-color: white;
    border-radius: 20px;
    padding: 30px;
    box-shadow:
        0 4px 6px rgba(0,0,0,0.1),
        0 10px 20px rgba(0,0,0,0.15);
    
}
.hero h2{
    text-align: center;
    margin: 20px 0;
}
#myButton,
#myButton2{
    cursor: pointer;
    transition: 0.3s;
}

#myButton:hover,
#myButton2:hover{
    transform: translateY(-3px);
}
